body {
  width: 200px;
  padding: 10px;
  font-family: sans-serif;
}

h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 8px;
  background-color: #4CAF50; /* Màu xanh lá */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #45a049; /* Màu xanh đậm hơn khi hover */
}